<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <RollingFile name="RollingFile" fileName="cpPaymentProcessingLogs/cpPaymentProcessing.log"
                     filePattern="cpPaymentProcessingLogs/$${date:yyyy-MM-dd}/cpPaymentProcessing-%i.log">
            <PatternLayout>
                <Pattern>%logger{36} %d{yyyy-MM-dd HH:mm:ss.SSS} %M|[%t] %-5level ClientID:[%X{ClientID}] x-mgm-correlation-id:[%X{x-mgm-correlation-id}] x-mgm-transaction-id:[%X{x-mgm-transaction-id}] x-mgm-journey-id:[%X{x-mgm-journey-id}] transactionAuthChainId:[%X{transactionAuthChainId}] saleReferenceIdentifier:[%X{saleReferenceIdentifier}]   - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="500 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.mgm.pd.cp.resortpayment" level="DEBUG"/>
        <Root level="INFO">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>